parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeatureMapper.php

		-
			message: '#^Method Tygh\\Addons\\NovotonHolidays\\Services\\FeatureMapper\:\:getActiveLanguages\(\) should return array\<string\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeatureMapper.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, ''intval'' given\.$#'
			identifier: argument.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeatureMapper.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeatureMapper.php

		-
			message: '#^Property Tygh\\Addons\\NovotonHolidays\\Services\\FeatureMapper\:\:\$activeLanguages \(array\<string\>\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeatureMapper.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/src/Services/SphinxFeatureAssigner.php

		-
			message: '#^Method Tygh\\Addons\\SphinxHolidays\\Services\\SphinxFeatureAssigner\:\:getActiveLanguages\(\) should return array\<string\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/src/Services/SphinxFeatureAssigner.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, ''intval'' given\.$#'
			identifier: argument.type
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/src/Services/SphinxFeatureAssigner.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/src/Services/SphinxFeatureAssigner.php

		-
			message: '#^Property Tygh\\Addons\\SphinxHolidays\\Services\\SphinxFeatureAssigner\:\:\$activeLanguages \(array\<string\>\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/src/Services/SphinxFeatureAssigner.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: addon-travel-core/app/addons/travel_core/src/Services/VariantResolver.php

		-
			message: '#^Method Tygh\\Addons\\TravelCore\\Services\\VariantResolver\:\:getActiveLanguages\(\) should return array\<string\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: addon-travel-core/app/addons/travel_core/src/Services/VariantResolver.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, ''intval'' given\.$#'
			identifier: argument.type
			count: 1
			path: addon-travel-core/app/addons/travel_core/src/Services/VariantResolver.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: addon-travel-core/app/addons/travel_core/src/Services/VariantResolver.php

		-
			message: '#^Property Tygh\\Addons\\TravelCore\\Services\\VariantResolver\:\:\$activeLanguages \(array\<string\>\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: addon-travel-core/app/addons/travel_core/src/Services/VariantResolver.php
