parameters:
	ignoreErrors:
		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Binary operation "\." between '' \('' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Binary operation "\." between mixed and '' \('' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Binary operation "\." between mixed and ''travel_api_alias'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Binary operation "\." between mixed and ''travel_feature_map'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot access offset ''auth'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot access offset ''base_price'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot access offset ''cart'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot access offset ''extra'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot access offset ''lang_code'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot access offset ''price'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot access offset ''products'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot access offset ''sphinx_booking'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot access offset ''stored_price'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot access offset ''symbol'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot access offset ''user_id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot call method updateValue\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_settings_variants_addons_sphinx_holidays_default_currency\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_settings_variants_addons_sphinx_holidays_product_languages\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_calculate_cart_items\(\) has parameter \$auth with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_calculate_cart_items\(\) has parameter \$cart with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_calculate_cart_items\(\) has parameter \$cart_products with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_create_user_post\(\) has parameter \$auth with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_create_user_post\(\) has parameter \$user_data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_create_user_post\(\) has parameter \$user_id with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_gather_additional_product_data_post\(\) has parameter \$auth with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_gather_additional_product_data_post\(\) has parameter \$params with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_gather_additional_product_data_post\(\) has parameter \$product with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_get_hotels\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 2
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_get_order_info\(\) has parameter \$additional_data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_get_order_info\(\) has parameter \$order with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_get_product_data_post\(\) has parameter \$auth with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_get_product_data_post\(\) has parameter \$lang_code with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_get_product_data_post\(\) has parameter \$preview with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_get_product_data_post\(\) has parameter \$product_data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_place_order_post\(\) has parameter \$action with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_place_order_post\(\) has parameter \$auth with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_place_order_post\(\) has parameter \$cart with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_place_order_post\(\) has parameter \$order_id with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_place_order_post\(\) has parameter \$order_status with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_pre_place_order\(\) has parameter \$allow with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_pre_place_order\(\) has parameter \$cart with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_pre_place_order\(\) has parameter \$product_groups with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_travel_core_exchange_rates_updated\(\) has parameter \$result with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_user_login_post\(\) has parameter \$auth with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Function fn_sphinx_holidays_user_login_post\(\) has parameter \$user_data with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Parameter \#1 \$string of function strtoupper expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Parameter \#1 \.\.\.\$arrays of function array_merge expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/func.php
