parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset ''auth'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/controllers/frontend/novoton_booking/booking_form.php

		-
			message: '#^Method Tygh\\Addons\\NovotonHolidays\\Helpers\\CronHelper\:\:getExcludedResorts\(\) should return list\<string\> but returns list\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Helpers/CronHelper.php

		-
			message: '#^Return type \(list\<mixed\>\) of method Tygh\\Addons\\NovotonHolidays\\Helpers\\StateManager\:\:getNextBatch\(\) should be compatible with return type \(array\<string, mixed\>\) of method Tygh\\Addons\\NovotonHolidays\\Helpers\\StateManagerInterface\:\:getNextBatch\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Helpers/StateManager.php

		-
			message: '#^Return type \(list\<array\<string, mixed\>\>\) of method Tygh\\Addons\\NovotonHolidays\\Repository\\HotelReportingRepository\:\:getCountriesWithPriceCounts\(\) should be covariant with return type \(array\<int, array\{country\: string, cnt\: int\}\>\) of method Tygh\\Addons\\NovotonHolidays\\Repository\\HotelReportingRepositoryInterface\:\:getCountriesWithPriceCounts\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Repository/HotelReportingRepository.php

		-
			message: '#^Return type \(list\<array\<string, mixed\>\>\) of method Tygh\\Addons\\NovotonHolidays\\Repository\\HotelReportingRepository\:\:getResortStatsByCountry\(\) should be covariant with return type \(array\<int, array\{city\: string, hotel_count\: int, with_prices\: int\}\>\) of method Tygh\\Addons\\NovotonHolidays\\Repository\\HotelReportingRepositoryInterface\:\:getResortStatsByCountry\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Repository/HotelReportingRepository.php

		-
			message: '#^Binary operation "\." between ''NVT'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/AdminCronService.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/AdminCronService.php

		-
			message: '#^Only booleans are allowed in a negated boolean, SimpleXMLElement given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/AdminCronService.php

		-
			message: '#^Only booleans are allowed in a negated boolean, int given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/AdminCronService.php

		-
			message: '#^Only booleans are allowed in an if condition, \(callable\)\|null given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/AdminCronService.php

		-
			message: '#^PHPDoc tag @var with type mixed is not subtype of type SimpleXMLElement\.$#'
			identifier: varTag.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/AdminCronService.php

		-
			message: '#^Parameter \#1 \$request_id of method Tygh\\Addons\\NovotonHolidays\\Repository\\AlternativeRequestRepositoryInterface\:\:markNotified\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/AdminCronService.php

		-
			message: '#^Part \$hotel\[''hotel_name''\] \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/AdminCronService.php

		-
			message: '#^Part \$hotel_id \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/AdminCronService.php

		-
			message: '#^Part \$product_id \(mixed\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/AdminCronService.php

		-
			message: '#^Only booleans are allowed in &&, SimpleXMLElement\|false given on the left side\.$#'
			identifier: booleanAnd.leftNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/AlternativeDateSearcher.php

		-
			message: '#^Only booleans are allowed in a negated boolean, Tygh\\Addons\\NovotonHolidays\\NovotonApi\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/AlternativeDateSearcher.php

		-
			message: '#^Parameter \#1 \$boardCode of static method Tygh\\Addons\\TravelCore\\ValueObjects\\BoardType\:\:toDisplayName\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/AlternativeDateSearcher.php

		-
			message: '#^Parameter \#3 \$subject of function str_replace expects array\<string\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/AlternativeDateSearcher.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 3
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/BookingAdminProvider.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/BookingAdminProvider.php

		-
			message: '#^Parameter \#1 \$string of function trim expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/BookingAdminProvider.php

		-
			message: '#^Return type \(array\<string, mixed\>\) of method Tygh\\Addons\\NovotonHolidays\\Services\\BookingAdminProvider\:\:handleAction\(\) should be covariant with return type \(array\{redirect\: string, notification\?\: array\{type\: string, title\: string, message\: string\}\}\) of method Tygh\\Addons\\TravelCore\\Contracts\\BookingAdminProviderInterface\:\:handleAction\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/BookingAdminProvider.php

		-
			message: '#^Binary operation "\." between non\-falsy\-string and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/CartAssemblyService.php

		-
			message: '#^Only booleans are allowed in a negated boolean, int\|false given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 2
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/CartAssemblyService.php

		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/Container.php

		-
			message: '#^Method Tygh\\Addons\\NovotonHolidays\\Services\\Container\:\:batchedHotelFacilitiesSyncV2\(\) should return Tygh\\Addons\\NovotonHolidays\\Helpers\\SyncInterface but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/Container.php

		-
			message: '#^Method Tygh\\Addons\\NovotonHolidays\\Services\\Container\:\:batchedHotelInfoSyncV2\(\) should return Tygh\\Addons\\NovotonHolidays\\Helpers\\AbstractBatchedSync but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/Container.php

		-
			message: '#^Method Tygh\\Addons\\NovotonHolidays\\Services\\Container\:\:batchedPriceInfoSyncV2\(\) should return Tygh\\Addons\\NovotonHolidays\\Helpers\\BatchedPriceInfoSyncV2 but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/Container.php

		-
			message: '#^Only booleans are allowed in an if condition, Closure\|null given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/DiscountCalculator.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeatureMapper.php

		-
			message: '#^Method Tygh\\Addons\\NovotonHolidays\\Services\\FeatureMapper\:\:getActiveLanguages\(\) should return array\<string\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeatureMapper.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, ''intval'' given\.$#'
			identifier: argument.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeatureMapper.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeatureMapper.php

		-
			message: '#^Property Tygh\\Addons\\NovotonHolidays\\Services\\FeatureMapper\:\:\$activeLanguages \(array\<string\>\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeatureMapper.php

		-
			message: '#^Binary operation "\+" between float and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeeCalculator.php

		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeeCalculator.php

		-
			message: '#^Only booleans are allowed in an if condition, Closure\|null given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeeCalculator.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, ''trim'' given\.$#'
			identifier: argument.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeeCalculator.php

		-
			message: '#^Parameter \#3 \$subject of function preg_replace expects array\<float\|int\|string\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeeCalculator.php

		-
			message: '#^Parameter \#4 \$seasonAgeTypes of method Tygh\\Addons\\NovotonHolidays\\Services\\FeeCalculator\:\:calculateHandlingFee\(\) expects array\<string, mixed\>, array\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeeCalculator.php

		-
			message: '#^Return type \(array\<string\>\) of method Tygh\\Addons\\NovotonHolidays\\Services\\FeeCalculator\:\:collectSeasonPriceAgeTypes\(\) should be covariant with return type \(array\<string, mixed\>\) of method Tygh\\Addons\\NovotonHolidays\\Services\\FeeCalculatorInterface\:\:collectSeasonPriceAgeTypes\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/FeeCalculator.php

		-
			message: '#^Method Tygh\\Addons\\NovotonHolidays\\Services\\PathResolver\:\:getPaths\(\) should return array\<string, string\> but returns array\<string, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PathResolver.php

		-
			message: '#^Method Tygh\\Addons\\NovotonHolidays\\Services\\PreOrderPriceVerifier\:\:getCachedPrice\(\) should return array\<string, mixed\>\|null but returns array\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PreOrderPriceVerifier.php

		-
			message: '#^Method Tygh\\Addons\\NovotonHolidays\\Services\\PreOrderPriceVerifier\:\:verify\(\) should return array\{allow\: bool, corrections\: array\<string, array\<string, mixed\>\>, notifications\: list\<array\<string, mixed\>\>\} but returns array\{allow\: true, corrections\: array\<non\-empty\-array\<string, mixed\>\>, notifications\: list\<non\-empty\-array\<string, mixed\>\>\}\.$#'
			identifier: return.type
			count: 2
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PreOrderPriceVerifier.php

		-
			message: '#^Offset ''products'' on non\-empty\-array\<string, mixed\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PreOrderPriceVerifier.php

		-
			message: '#^Only booleans are allowed in a negated boolean, SimpleXMLElement\|false given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PreOrderPriceVerifier.php

		-
			message: '#^Only booleans are allowed in a negated boolean, Tygh\\Addons\\NovotonHolidays\\NovotonApi\|null given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PreOrderPriceVerifier.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, ''intval'' given\.$#'
			identifier: argument.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PreOrderPriceVerifier.php

		-
			message: '#^Binary operation "\." between ''Invalid occupancy\: '' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PriceInfoCalculation.php

		-
			message: '#^Method Tygh\\Addons\\NovotonHolidays\\Services\\PriceInfoCalculation\:\:collectSeasonPriceAgeTypes\(\) should return array\<string, mixed\> but returns array\<string\>\.$#'
			identifier: return.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PriceInfoCalculation.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PriceInfoCalculation.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, ''intval'' given\.$#'
			identifier: argument.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PriceInfoCalculation.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PriceInfoFormatter.php

		-
			message: '#^Only booleans are allowed in an elseif condition, int\|false given\.$#'
			identifier: elseif.condNotBoolean
			count: 2
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PriceInfoFormatter.php

		-
			message: '#^Only booleans are allowed in an if condition, int\|false given\.$#'
			identifier: if.condNotBoolean
			count: 2
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PriceInfoFormatter.php

		-
			message: '#^Only booleans are allowed in an if condition, Closure\|null given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PriceInfoParser.php

		-
			message: '#^Only booleans are allowed in a negated boolean, SimpleXMLElement given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PriceInfoService.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PriceVerificationService.php

		-
			message: '#^Only booleans are allowed in a negated boolean, SimpleXMLElement\|false given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/PriceVerificationService.php

		-
			message: '#^Offset ''children'' on non\-empty\-array\<string, mixed\> on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/SearchParameterNormalizer.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/SearchResultFormatter.php

		-
			message: '#^Only booleans are allowed in an if condition, array\<string, mixed\>\|null given\.$#'
			identifier: if.condNotBoolean
			count: 2
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/SearchResultFormatter.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/SearchResultFormatter.php

		-
			message: '#^Only booleans are allowed in an if condition, string\|null given\.$#'
			identifier: if.condNotBoolean
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/SearchResultFormatter.php

		-
			message: '#^Parameter \#3 \$lang of function fn_novoton_holidays_get_hotel_facilities_by_type expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/SearchResultFormatter.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: addon-novoton-holidays/app/addons/novoton_holidays/src/Services/SearchResultFormatter.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/src/Services/SphinxFeatureAssigner.php

		-
			message: '#^Method Tygh\\Addons\\SphinxHolidays\\Services\\SphinxFeatureAssigner\:\:getActiveLanguages\(\) should return array\<string\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/src/Services/SphinxFeatureAssigner.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, ''intval'' given\.$#'
			identifier: argument.type
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/src/Services/SphinxFeatureAssigner.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/src/Services/SphinxFeatureAssigner.php

		-
			message: '#^Property Tygh\\Addons\\SphinxHolidays\\Services\\SphinxFeatureAssigner\:\:\$activeLanguages \(array\<string\>\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: addon-sphinx-holidays/app/addons/sphinx_holidays/src/Services/SphinxFeatureAssigner.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 2
			path: addon-travel-core/app/addons/travel_core/src/Services/VariantResolver.php

		-
			message: '#^Method Tygh\\Addons\\TravelCore\\Services\\VariantResolver\:\:getActiveLanguages\(\) should return array\<string\> but returns array\.$#'
			identifier: return.type
			count: 1
			path: addon-travel-core/app/addons/travel_core/src/Services/VariantResolver.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(mixed\)\: mixed\)\|null, ''intval'' given\.$#'
			identifier: argument.type
			count: 1
			path: addon-travel-core/app/addons/travel_core/src/Services/VariantResolver.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: addon-travel-core/app/addons/travel_core/src/Services/VariantResolver.php

		-
			message: '#^Property Tygh\\Addons\\TravelCore\\Services\\VariantResolver\:\:\$activeLanguages \(array\<string\>\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: addon-travel-core/app/addons/travel_core/src/Services/VariantResolver.php
